<header>
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo fixed-top" >
        <mdb-navbar-brand>
            <a class="nav-link waves-light" mdbWavesEffect routerLink= "/events" (click)="onEventsInit()">Events <span class="sr-only">(current)</span></a>
        </mdb-navbar-brand>
        <links>
        <ul class="navbar-nav"> 
                <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect routerLink="addEvent">Ajouter un Event</a>
                    </li>              
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="auth">Connexion</a>
            </li>        
        </ul>
        </links>
    </mdb-navbar>
</header>  
<main>   
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">                
            <router-outlet></router-outlet>
        </div>
    </div>     
</main>           
    
      
