li {
    height: 8em;
    border-width: thick;
    padding: 0px;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    line-height: 3em;
    
}

div {
    max-width: 20%;
    margin: 0;
    height: 100%;
}