<li [ngStyle]="{'background-color':index%2 === 0 ? 'rgb(250, 116, 34)' : 'rgba(250, 116, 34, 0.5)' }" [ngClass]="{'list-group-item': true}">
  <div class="d-flex justify-content-between">
    <h4>Evènement: {{sousTheme}} </h4>
    <div>Date: {{date | amLocale:'fr' | amDateFormat: 'dddd Do MMMM YYYY'}} </div>
    <!--Utilisation de moment.js pour le formatage de date-->
  </div>
  <p style="font-weight: bold ">Info: {{info}}</p>
  <button class="btn btn-primary" (click)="onUpdateEvent()">Modifier</button>
  <!--A modifier avec un *ngIf isAuth-->
  <button class="btn btn-danger" (click)="openModal(template)">Supprimer</button>
  <!--A modifier avec un *ngIf isAuth-->
  <br>
  <pre *ngIf="messageConfirmation !== ''" class="card card-block card-header">{{messageConfirmation}}</pre>  
  <ng-template #template>
    <div class="modal-body text-center">
      <p>Êtes-vous sûr de vouloir supprimer l'Event {{theme}}</p>
      <button type="button" class="btn btn-danger" (click)="confirm()">Oui</button>
      <button type="button" class="btn btn-default" (click)="decline()">Annuler</button>
    </div>    
  </ng-template>


 