<div class='col-12'> 
    <h2>Micropole's Events &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h2>
</div>

<div class="col-lg-8 offset-lg-4">

    <div>
      <h4 style="text-align: center">Connexion</h4>
      <form class="auth-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="auth-container">

          <mat-form-field>
            <input matInput placeholder="Enter your email" name="username" required ngModel>
          </mat-form-field>

          <mat-form-field>
            <div *ngIf="validLogin" class="alert alert-danger">Nom d'utilisateur ou mot de passe incorrect</div>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" name="password" required ngModel>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>

        </div>
        <button type="submit" mat-raised-button color="primary">Connexion</button>
      </form>   
    </div>

</div>
  
 

    
  
